@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}

/* Antd Override */
input {
  border-radius: 2px !important;
  border: 1px solid rgb(211, 199, 199) !important;
  height: 40px !important;
}
input:focus , .ant-picker {
  outline: none !important;
  border: 1px solid gray !important;
}
label {
  font-size: 16px !important;
  color: black !important;
}
.ant-form-item {
  margin: 10px 0 !important;
}
.ant-picker-input input{
  border: none !important;
}
.ant-picker{
  border-radius: 2px !important;
  border: 1px solid rgb(211, 199, 199) !important;
  height: 40px !important;
}
/*Common Styling*/

.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.704);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.spinner-border{
  width: 4rem;
  height: 4rem;
  color: white !important;
}
.page-title{
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.normal-text {
  font-size: 1rem;
}
.card {
  box-shadow: 0 0 2px gray;
  border-radius: 0 !important;
}
.primary-btn {
  background-color: #2b6f8a !important;
  border-color: rgb(23, 83, 63) !important;
  height: 40px !important;
  width: 100% !important;
  color: white !important;
  font-size: 18px !important;
  width: max-content !important;
}
.full-width-button{
  width: 100% !important;
}
p{
  color: rgba(0, 0, 0, 0.603) !important;
  margin:  0 !important;
  padding:  0 !important;
}
.anchor {
  color: black !important;
  text-decoration: underline !important;
  font-size: 16px !important;
  cursor: pointer;
}

.cursor-pointer{
 cursor: pointer; 
}


/*Authentication Pages*/
.authentication-container {
  /* height: 100vh;
  align-items: center;
  justify-content: left; */
  /* background-color: rgba(29, 112, 84, 0.774); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.design-card-title{
  font-weight: bold;
  background-color: rgb(187, 83, 42);
  color: aliceblue;
  max-width: max-content !important;
  padding: 7px 15px;
  margin-left: -50px;
  border-bottom-left-radius: 10px;
}


.authentication-form {
  width: 65%;
  margin: 100px;
}

img {
  margin-top: 60px;
}
